
<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
	  <a class="navbar-brand" href="{% url 'home' %}">MoodMetr</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">

		  {% if user.is_authenticated %}
		  {% comment %}<li class="nav-item">
			<a class="nav-link active" aria-current="page" href={% url 'home' %}>Старт</a>
		  </li>{% endcomment %}
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Выйти</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'create_estimate' %}">Cоздать оценку</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'all_days' %}">Все оценки</a>
		  </li>
		{% else %}
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'login' %}">Войти</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
		  </li>
		  {% endif %}


		</ul>

	  </div>
	</div>
  </nav>

